.visible-border {
  border-collapse: collapse;
  border: 1px solid black;
}
.invisible-border {
  border-collapse: collapse;
  border: none;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
}

td:first-child {
  font-weight: bold;
}

tr:hover td {
  background-color: #f5f5f5;
  transition: all 0.2s ease-in-out;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: relative;
  left: 30%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; 
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
